$grey: #D0D0D0;
$black-background: rgba(0, 0, 0, 0.8);
$black-form: rgba(0, 0, 0, 0.4);

$full-width: 500px;

body {
  margin: 0;
  padding: 0;
  min-width: 360px;

  color: white;
  font-family: "Verdana", "Geneva", sans-serif;
  font-size: 15px;
  line-height: 19px;

  background: url('../img/default-background.jpg') 0 0 no-repeat;
  background-size: cover;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ymaps[class*="search__suggest"] {
  color: black;
}

.warning-element {
  margin-left: 15px;

  color: pink;
  font-size: 9px;
  line-height: 12px;
}

@media (min-width: $full-width) {
  body {
    font-size: 18px;
    line-height: 22px;
  }

  .warning-element {
    font-size: 10.5px;
    line-height: 14px;
  }
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;

  display: none;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.9) url("../img/preloader.svg") center center no-repeat;

  &--show {
    display: block;
  }
}
