.app {
  width: 90%;
  max-width: 450px;
  margin: 30px auto;
  padding-bottom: 10px;

  background-color: $black-background;
}

.app__search-wrapper {
  position: relative;

  margin-bottom: 35px;
}

.app__location {
  margin: 0;
  margin-bottom: 13px;
  padding: 0 15px;

  font-size: 28px;
  line-height: 31px;
  font-weight: normal;
}

.app__date {
  margin: 0;
  margin-bottom: 25px;

  padding: 0 15px;
}

@media (min-width: $full-width) {
  .app__location {
    font-size: 33px;
    line-height: 36px;
  }

}
